
img.war_sdy_pl_audio_control
{
	cursor: pointer; 
	z-index: 99999999;
	border: red 0px solid !important;
	border-radius: 0px !important;
	box-shadow: none !important;
}

.war_hidden
{
    display: none;
}