div.war_sdy_pl_playlist_outer_box
{
    padding: 6px 6px 6px 6px;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    vertical-align: top;
    text-align: center;
}

.entry-content ul.war_sdy_pl_playlist
{
    vertical-align: middle;
    text-align: left;
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
}

/*
#war_sdy_pl_playlist
{
  overflow-x: auto;
}
*/

ul.war_sdy_pl_playlist li
{
    padding-top:     5px;
    padding-bottom:  5px;
    padding-left:    10px;
    padding-right:   10px;
    border: 1px solid #aaaaaa;
}

#war_sdy_pl_playlist li
{
    margin: -1px 0px -1px 0px;
    border-radius: 0px;
    background-color: #ffffff;
    cursor: pointer;
    text-wrap: none;
    white-space: nowrap;
    overflow: hidden;
}

#war_sdy_pl_playlist li:first-child
{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#war_sdy_pl_playlist li:last-child
{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#war_sdy_pl_playlist li:nth-child( odd )
{
    background-color: #eeeeee;
}

.war_sdy_pl_sortable_placeholder
{
    height: 1.5em;
    line-height: 1.2em;
    background: #ccffcc;
    border: 1px solid #ffffcc;
}

li.war_sdy_pl_playlist_row_header
{
    text-align: left;
    margin: 0px 0px 6px 0px;
    margin-left: 0px !important;
    background: #cccccc;
    border-radius: 3px;
    cursor: auto;
    font-weight: bold;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    list-style-type: none;
}

li.war_sdy_pl_playlist_columns_caption_row
{
    margin: 0px 0px 6px 0px;
    margin-left: 0px !important;
    list-style-type: none;
    background: #cccccc;
    cursor: auto;
    font-weight: bold;
    border-radius: 3px;
    text-wrap: none;
    white-space: nowrap;
    overflow: hidden;
}

li.war_sdy_pl_playlist_row_footer
{
    margin: 6px 0px 0px 0px;
    margin-left: 0px !important;
    text-align: left;
    background: #cccccc;
    border-radius: 3px;
    cursor: auto;
    font-weight: normal;
    list-style-type: none;
}

div.war_sdy_pl_playlist_row_footer_div
{
    margin-left: 1em;
}

div.war_sdy_pl_playlist_header_container
{
    display: inline-table;
    vertical-align: middle;
    width: 100%;
}

div.war_sdy_pl_playlist_header_left_hand_container
{
    display: table-cell;
    border: 0px red solid;
    text-align: left;
}

div.war_sdy_pl_playlist_header_left_hand
{
    display: inline-table;
    border: 0px black solid;
    vertical-align: middle;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 2%;
}

div.war_sdy_pl_playlist_pp_button
{
    display: table-cell;
    padding: 0px;
    vertical-align: top;
    text-align: left;
    cursor: pointer;
}

div.war_sdy_pl_playlist_title_global
{
    display: table-cell;
    border: 0px green solid;
    vertical-align: top;
    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 5%;
    text-wrap: normal;
    white-space: normal;
}

div.war_sdy_pl_playlist_title
{
    display: table-row;
    border: 0px red solid;
    vertical-align: middle;
    font-size: 1.5em;
    text-wrap: normal;
    white-space: normal;
}

div.war_sdy_pl_playlist_volume_container_row
{
    display: table-row;
}

div.war_sdy_pl_playlist_volume_container_cell
{
    display: table-cell;
    vertical-align: middle;
    text-wrap: none;
    white-space: nowrap;
    padding-top: 0.7em;
    border: 0px solid #000000;
}

svg.war_sdy_pl_playlist_volume_icon
{
    vertical-align: middle;
    margin-right: 5%;
}

div.war_sdy_pl_playlist_volume_slider
{
    font-size: 10px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.war_sdy_pl_playlist_volume_slider .ui-slider-range
{
    background: #dddddd;
}

.war_sdy_pl_playlist_volume_slider .ui-slider-handle
{
    width: 15px;
    font-size: 15px;
    margin-left: -4px;
    margin-top: -2px !important;
    background: #2eaecc;
    border-color: #0074a2;
    cursor: ew-resize;
}

.war_sdy_pl_playlist_volume_slider .ui-slider-handle:focus
{
    outline: none;
}

div.war_sdy_pl_playlist_header_right_hand_container
{
    display: table-cell;
    border: 0px red solid;
    text-align: right;
}

div.war_sdy_pl_playlist_header_right_hand
{
    display: inline-table;
    vertical-align: middle;
    padding-top: 15px;
    padding-right: 2%;
}

div.war_sdy_pl_playlist_time_slider_global
{
    display: table-row;
    vertical-align: middle;
    white-space: nowrap;
}

div.war_sdy_pl_playlist_soundtrack_time_local
{
    display: table-cell;
    border: 0px red solid;
    text-align: right;
    vertical-align: middle;
}

div.war_sdy_pl_playlist_time_slider_local
{
    display: table-cell;
    border: 0px red solid;
    text-align: center;
    vertical-align: middle;
}

div.war_sdy_pl_playlist_time_slider
{
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
    margin: 9px 10px 5px 10px;
}

.war_sdy_pl_playlist_time_slider .ui-slider-range
{
    background: #dddddd;
}

.war_sdy_pl_playlist_time_slider .ui-slider-handle
{
    background: #2eaecc;
    border-color: #0074a2;
    cursor: ew-resize;
    width: 8px;
    font-size: 15px;
    margin-left: -4px;
    margin-top: -2px !important;
}

.war_sdy_pl_playlist_time_slider .ui-slider-handle:focus
{
    outline: none;
}

div.war_sdy_pl_playlist_soundtrack_duration_local
{
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    margin-left: 0;
}

div.war_sdy_pl_playlist_soundtrack_title_global
{
    display: table-row;
    vertical-align: middle;
    text-wrap: normal;
    white-space: normal;
}

div.war_sdy_pl_playlist_header_soundtrack_title_and_artist
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

div.war_sdy_pl_playlist_header_soundtrack_title_and_artist_table
{
    border: 0px black solid;
    display: inline-table;
    vertical-align: middle;
    text-align: center;
}

div.war_sdy_pl_playlist_header_soundtrack_title_row
{
    display: table-row;
}

div.war_sdy_pl_playlist_header_soundtrack_title
{
    display: table-cell;
    border: 0px red solid;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: 1.1em;
    line-height: 1.2em;
}


div.war_sdy_pl_playlist_header_soundtrack_artist_row
{
    display: table-row;
}

div.war_sdy_pl_playlist_header_soundtrack_artist
{
    display: table-cell;
    border: 0px red solid;
    width: 100%;
    text-align: center;
    font-size: 0.7em;
    line-height: 1.7em;
}

div.war_sdy_pl_playlist_previous_local
{
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    margin-right: 0;
    width: 30px;
}

div.war_sdy_pl_playlist_next_local
{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    margin-left: 0;
    width: 30px;
}

li.war_soundtrack_selected
{
    background-color: #c0e7f0 !important;
}

div.war_soundtrack_index,
div.war_soundtrack_title,
div.war_soundtrack_artist,
div.war_soundtrack_composer,
div.war_soundtrack_time,
div.war_soundtrack_id,
div.war_soundtrack_url,
div.war_soundtrack_volume,
div.war_soundtrack_type
{
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 0;
    margin-left: 1em;
    margin-right: 1em;
    text-wrap: none;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}

div.war_soundtrack_url,
div.war_soundtrack_volume,
div.war_soundtrack_type
{
    display: none;
}

div.war_soundtrack_index
{
    width: 3%;
}

div.war_soundtrack_title
{
    width: 24%;
}

div.war_soundtrack_artist
{
    width: 25%;
}

div.war_soundtrack_composer
{
    width: 26%;
}

div.war_soundtrack_time
{
    width: 8%;
    text-align: right;
}

div.war_soundtrack_id
{
    width: 5%;
}

svg.war_sdy_pl_button_previous,
svg.war_sdy_pl_button_next
{
    cursor: pointer;
}

.war_sdy_pl_icon_previous_next_graphic
{
    fill:           #3c3c3c;
    stroke:         #3c3c3c;
    stroke-width:   3;
    stroke-linejoin: round;
}

.war_sdy_pl_icon_speaker_graphic_1
{
    fill: #3c3c3c;
}

.war_sdy_pl_icon_speaker_graphic_2
{
    stroke: #3c3c3c;
}
